<html>
    <style>
        .main-container {
            height: 65vh;
        }
    </style>
    <body>
        {{> header}}
        <br>
        {{titulo}}
        <main class="main-container">
            Criar uma página de contato, no qual será possível enviar uma mensagem (por email) para os
            desenvolvedores da ferramenta. Os campos obrigatórios são nome, e-mail, assunto e mensagem
            (pesquisar sobre como enviar emails)
        </main>
        <br>
        {{> footer}}
    </body>
</html>