<html>
    <style>
        .main-container {
            height: 65vh;
        }
    </style>
    <body>
        {{> header}}
        <br>
        {{titulo}}
        <main class="main-container">
            Os usuários poderão fazer um crud básico sobre músicas como por exemplo nome, data de lançamento,
            cantor/banda e etc
        </main>
        <br>
        {{> footer}}
    </body>
</html>