<html>
    <style>
        .main-container {
            height: 65vh;
        }
    </style>
    <body>
        {{> header}}
        <br>
        {{titulo}}
        <main class="main-container">
            Os usuários poderão armazenar todos os detalhes de suas fichas de personagens de d&d 5e.
        </main>
        <br>
        {{> footer}}
    </body>
</html>