<style>
    .header-container {
        display: flex;
        align-items: center;
        background-color: blue;
        height: 10vh;
    }

    .header-container img {
        margin-right: 10px;
    }
</style>

<header class="header-container">
    <img src="https://static.dicionariodesimbolos.com.br/upload/9d/cb/notas-musicais-1_xl.jpeg" alt="Logo" width="100" height="50"/>
    <h1>{{header}}</h1>
</header>