<html>
    <style>
        .main-container {
            height: 65vh;
        }
    </style>
    <body>
        {{> header}}
        <br>
        {{titulo}}
        <main class="main-container">
            Ferramentas
            <ol>
                <li>Visual Studio</li>
                <li>Node JS</li>
            </ol>
            Bibliotecas
            <ol>
                <li>Express</li>
                <li>Mustache</li>
                <li>Nodemon</li>
            </ol>
        </main>
        <br>
        {{> footer}}
    </body>
</html>