<html>
    <style>
        .main-container {
            height: 65vh;
        }
    </style>
    <body>
        {{> header}}
        <br>
        {{titulo}}
        <main class="main-container">
            <ol>
                <li>Nome: Igor Bregagnoli</li>
                <li>Idade: 22 anos</li>
                <li>Data de Nascimento: 18/08/2000</li>
                <li>Curso: Engenharia de Software</li>
                <li>Mora: Tarumã</li>
            </ol>
        </main>
        <br>
        {{> footer}}
    </body>
</html>