<html>
    <style>
        .main-container {
            height: 65vh;
        }
    </style>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        {{> header}}
        <br>
        {{titulo}}
        <main class="main-container">
        <form id="cadastroForm" action="" method="POST">
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div>
                <label for="classe">Classe</label>
                <input type="text" id="classe" name="classe" required>
            </div>
            <div>
                <label for="raca">Raça</label>
                <input type="text" id="raca" name="raca" required>
            </div>
            <div>
                <label for="nivel">Nivel</label>
                <input type="number" id="nivel" name="nivel" required>
            </div>
            <div>
                <label for="usuarioId">usuarioId</label>
                <input type="number" id="usuarioId" name="usuarioId" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        </main>
        <br>
        {{> footer}}
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/jsonwebtoken"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const token = localStorage.getItem("token");
        if (!token) {
            window.location.href = "/";
        }
        document.getElementById("cadastroForm").addEventListener("submit", function(event){
            event.preventDefault();

            const nome = document.getElementById("nome").value;
            const classe = document.getElementById("classe").value;
            const raca = document.getElementById("raca").value;
            const nivel = document.getElementById("nivel").value;
            const usuarioId = document.getElementById("usuarioId").value;
            
            const formData = {
                nome: nome,
                classe: classe,
                raca: raca,
                nivel: nivel,
                usuarioId: usuarioId
            };

            axios.post("http://localhost:3001/personagem/registrar", formData).then(function (response){
                const data = response.data;
                if(data.token){
                    localStorage.setItem("token", data.token);
                    window.location.href = "http://localhost:3000/home";
                } else {
                    console.error(data.error);
                }
            }).catch(function (error){
                console.error(error);
            });
        });
    });
</script>